<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col text-center">
            <div class="display-5 mt-4 text-primary">
                User SignUp
            </div>
            <div class="card shadow my-4"  [ngStyle]="{backgroundImage:'url(/assets/images/userSign.jpg)'}">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                        <form class="example-form mt-4" [formGroup]='signupForm'>

                            <div class="row">
                                <div class="col">
                                    <!-- firstName -->
                                    <mat-form-field class="example-full-width">
                                        <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                                            fontIcon="person_outline"></mat-icon>
                                        <mat-label>FirstName</mat-label>
                                        <input matInput placeholder="First Name" formControlName='firstName'>
                                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                        <mat-error
                                            *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.dirty && signupForm.get('firstName')?.errors?.['pattern'] && !signupForm.get('firstName')?.errors?.['required']">
                                            First Name should contain <strong>Alphabets </strong>only
                                        </mat-error>
                                        <mat-error
                                            *ngIf="signupForm.get('firstName')?.errors?.['minlength'] && !signupForm.get('firstName')?.errors?.['pattern'] && !signupForm.get('firstName')?.errors?.['required']">
                                            First Name should be atleast <strong>2 characters </strong>long
                                        </mat-error>
                                        <mat-error *ngIf="signupForm.get('firstName')?.errors?.['required']">
                                            First Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <!-- lastName -->
                                    <mat-form-field class="example-full-width">
                                        <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                                            fontIcon="person_outline"></mat-icon>
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last Name" formControlName='lastName'>
                                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                        <mat-error
                                            *ngIf="signupForm.get('lastName')?.hasError('pattern') && !signupForm.get('lastName')?.hasError('required')">
                                            Last Name should contain <strong>Alphabets </strong>only
                                        </mat-error>
                                        <mat-error
                                            *ngIf="signupForm.get('lastName')?.hasError('minlength') && !signupForm.get('lastName')?.hasError('pattern') && !signupForm.get('lastName')?.hasError('required')">
                                            Last Name should be atleast <strong>2 characters </strong>long
                                        </mat-error>
                                        <mat-error *ngIf="signupForm.get('lastName')?.hasError('required')">
                                            Last Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>


                            <!-- username -->
                            <mat-form-field class="example-full-width">
                                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="person"></mat-icon>
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username" formControlName='username'>
                                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                <mat-error
                                    *ngIf="signupForm.get('username')?.hasError('minlength') && !signupForm.get('username')?.hasError('pattern') && !signupForm.get('username')?.hasError('required')">
                                    Username should be atleast <strong>4 characters </strong>long
                                </mat-error>
                                <mat-error
                                    *ngIf="signupForm.get('username')?.hasError('pattern') && !signupForm.get('username')?.hasError('required')">
                                    Username must not contain <strong>Special Characters</strong>
                                </mat-error>
                                <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
                                    Username is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <!-- mobile -->
                            <mat-form-field class="example-full-width">
                                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="call"></mat-icon>
                                <mat-label>Mobile Number</mat-label>
                                <input matInput placeholder="Username" formControlName='mobile' maxlength="10">
                                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                <mat-error
                                    *ngIf="signupForm.get('mobile')?.hasError('minlength') && !signupForm.get('mobile')?.hasError('pattern')  && !signupForm.get('mobile')?.hasError('required')">
                                    Mobile number should be of <strong>10 digits</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="signupForm.get('mobile')?.hasError('pattern') && !signupForm.get('mobile')?.hasError('required')">
                                    Mobile must be in <strong>numbers only</strong>
                                </mat-error>

                                <mat-error *ngIf="signupForm.get('mobile')?.hasError('required')">
                                    Username is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <!-- Email -->
                            <mat-form-field class="example-full-width">
                                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="email"></mat-icon>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName='email'>
                                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                <mat-error
                                    *ngIf="signupForm.get('email')?.hasError('email') && !signupForm.get('email')?.hasError('required')">
                                    <strong>Invalid</strong> email address
                                </mat-error>

                                <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <div class="row">
                                <div class="col">
                                    <!-- Password -->
                                    <mat-form-field class="example-full-width">
                                        <mat-icon *ngIf="password_visibility_hide" class="mat-icon eye" aria-hidden="false"
                                            aria-label="Example home icon" fontIcon="visibility"
                                            (click)="visibility('password')"></mat-icon>
                                        <mat-icon *ngIf="password_visibility_off_hide" class="mat-icon eye" aria-hidden="false"
                                            aria-label="Example home icon" fontIcon="visibility_off"
                                            (click)="visibility_off('password')"></mat-icon>
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="Password" formControlName='password' [type]="passwordInputType" [value]= 'passwordValue'>
                                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                        <mat-error
                                            *ngIf="signupForm.get('password')?.hasError('minlength') && !signupForm.get('password')?.hasError('required')">
                                            Password should be atleast <strong>6 characters </strong>long
                                        </mat-error>
                                        <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <!-- confirm password -->
                                    <mat-form-field class="example-full-width">
                                        <mat-icon *ngIf="confirm_visibility_hide" class="mat-icon eye" aria-hidden="false"
                                            aria-label="Example home icon" fontIcon="visibility"
                                            (click)="visibility('confirmPassword')"></mat-icon>
                                        <mat-icon *ngIf="confirm_visibility_off_hide" class="mat-icon eye" aria-hidden="false"
                                            aria-label="Example home icon" fontIcon="visibility_off"
                                            (click)="visibility_off('confirmPassword')"></mat-icon>
                                        <mat-label>Confirm Password</mat-label>
                                        <input [type]="confirmPasswordInputType" matInput placeholder="Confirm Password" formControlName='confirmPassword' [value] ='confirmPasswordValue'>


                                        <!-- <mat-error class="error" *ngIf="signupForm.get('confirmPassword')?.errors?.['Err'] && !signupForm.get('confirmPassword')?.hasError('minlength') && !signupForm.get('confirmPassword')?.hasError('required')" > Password not matched</mat-error> -->


                                        <mat-error
                                            *ngIf="signupForm.get('confirmPassword')?.hasError('minlength') && !signupForm.get('confirmPassword')?.hasError('required')">
                                            Password should be atleast <strong>6 characters </strong>long
                                        </mat-error>

                                        <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                        

                                    </mat-form-field>
                                </div>
                            </div>
                            


                            <input type="text" placeholder="password" formControlName = "passwordNew">
                            <mat-error *ngIf="signupForm.get('passwordNew')?.errors?.['Err']">password error</mat-error>

                            <!-- <label for="name" class="col-sm-2">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName = 'name'> <br>
                                <span class="error" *ngIf="signupForm.get('name')?.errors?.['Err']"> Name should not contain copy word</span>
                            </div> -->

                            <button [disabled]="!signupForm.valid" class="btn btn-primary w-100 my-4"
                                (click)="register()">Register</button>
                            <div class="mb-4">
                                <a (click)="login()" class="mx-4">Don't Have Account? <span class="text-danger">Login
                                        here</span></a>
                            </div>

                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>