.container {
  position: relative;
  top: 30px;
}

.card{
  background-size: cover;
  width: 100%;
}

.example-form {
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.white{
  color: white;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

.mat-icon {
  position: absolute;
  right: 8px;
}

.eye {
  cursor: pointer;
}