<nav class="navbar navbar-expand-lg bg-body-secondary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" (click)="home()">Hotel Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">



      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <!-- login or register -->
      <button [matMenuTriggerFor]="menu" class="btn btn-success dropdown-toggle">Login or Register</button>
      <div class="loginButtons">
        <mat-menu #menu="matMenu">
          <mat-list>
            <mat-list-item class="text-primary">
              <button mat-menu-item (click)="admin()">Login as ADMIN</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button mat-menu-item (click)="owner()">Login as OWNER</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button mat-menu-item (click)="user()">Login as USER</button>
            </mat-list-item>
          </mat-list>
        </mat-menu>
      </div>
      
<!-- 
      <button class="btn btn-success mx-2" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        (click)="admin()">Admin</button>

      <button class="btn btn-warning mx-2" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        (click)="owner()">Owner</button>

      <button class="btn btn-primary mx-2" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        (click)="user()">User</button> -->

    </div>
  </div>
</nav>

<router-outlet></router-outlet>